%nav.navbar-expand-lg.navbar-default
  .container 
    =link_to image_tag("https://artia.com/wp-content/uploads/2022/07/logo-artia.png", class:"navbar-brand"), root_path
    =render "layouts/navigation"